<h1>Player 1 and 2 choose your name</h1>
<form action=/game method="post">
  <input type="text" name="player1" value="">
  <input type="text" name="player2" value="">
  <input type="submit" name="" value="submit">
</form>
